<!-- <app-header [config]="applicationConfig"></app-header> -->
<!-- <app-header [applicationConfig]="applicationConfig" (menuClick)="onMenuClick()"></app-header> -->
<!--
    (menuClick)="onMenuClick($event)"
        |
        V
    HeaderComponent.menuClick.subscribe($event => {
        onMenuClick($event)
    })
-->

<!-- BAD -->
<!-- <app-header applicationConfig="{{applicationConfig}}"></app-header> -->
<!-- <app-products-list></app-products-list> -->

<!-- <app-sidenav
    [isSidenavOpened]="isSidenavOpenedStore"
    (isSidenavOpenedChange)="isSidenavOpenedStore = $event"
></app-sidenav> -->
<!-- <app-sidenav
    [(isSidenavOpened)]="isSidenavOpenedStore"
></app-sidenav> -->

<app-header
    [applicationConfig]="applicationConfig"
    (menuClick)="sidenav.toggleSidenavOpened()"
></app-header>
<app-sidenav #sidenav></app-sidenav>
