<mat-drawer-container autosize class="example-container">
    <!-- <mat-drawer class="example-sidenav" mode="side" [opened]="isSidenavOpened"> -->
    <mat-drawer #drawer mode="side" class="example-sidenav">
        <p #p>Auto-resizing sidenav</p>
        <p #p>Auto-resizing sidenav</p>
        <p #p>Auto-resizing sidenav</p>
        <p #p>Auto-resizing sidenav</p>
    </mat-drawer>

    <div #div class="example-sidenav-content">
        <!-- <button #matButton type="button" mat-button (click)="toggleSidenavOpened()">-->
        <button #matButton type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
        </button>
    </div>
</mat-drawer-container>
