<app-card
    class="card"
    [product]="products[0]"
    (addedToCart)="onProductAddedToCart($event)"
></app-card>
<app-card
    class="card"
    [product]="products[1]"
    (addedToCart)="onProductAddedToCart($event)"
></app-card>
<app-card
    class="card"
    [product]="products[2]"
    (addedToCart)="onProductAddedToCart($event)"
></app-card>
<app-card
    class="card"
    [product]="products[3]"
    (addedToCart)="onProductAddedToCart($event)"
></app-card>
<app-card
    class="card"
    [product]="products[4]"
    (addedToCart)="onProductAddedToCart($event)"
></app-card>
